extends layout

block content
    form(action='/admin/import', method='post')
        fieldset
            legend Words
            textarea(name='nouns', rows='20')= data
            .control-group
                .controls
                    button(class='btn btn-large btn-primary', type='submit') Submit