extends layout

block content
    - if (nouns.length)
        #words.text-center
            ul.unstyled
                - nouns.forEach(function(noun){
                    li= noun
                - })
